<!-- extend from base layout -->
{% extends "homepage.html" %}
{% include 'includes/messages.html' %}
{% block bottom_empty %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<div class="container">
<div class="animate-box text-center" style="height:700px; margin-top:10%">
	<center><h1> Log In </h1></center><br>
	First Time User? <a href="register">Register</a>
<!-- 	<form method="POST"  action="">
		<div class="form-group" >
			Email: <input type="text" placeholder="Enter Username" name="email" maxlength="30" required>
		</div>

		<div class="form-group" >
			 Password: <input type="password" placeholder="Enter Password" name="password" maxlength="100" required>
		</div>
				<p class="text-center"> <input type="submit" class = "btn btn-primary" value="Submit"></p>
		</div>
		
	</form> -->
<form method='post' id="myForm">
{{ form.hidden_tag}}

<div class='form-group'>{{form.email.label}}<input type="text" name="email" ></input></div>
<div class='form-group' id="err-1"></div>
<div class='form-group'>{{form.password.label}}<input type="password" name="password" id="psw"></input></div>
<div class='form-group' id="err-2"></div>
{% if form.password.errors %}
	{%  for error in form.password.errors %}
	<div class="field_error">{{ error }}</div>
	{%  endfor %}
{% endif %}

<p class="text-center"> <input type="submit" class = "btn btn-primary" value="Submit" onClick="checkForm()"></p>

 
</form>

</div>
</div>
{% endblock %}